@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
  box-sizing: border-box;
}

h1,h3,p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

body{
  margin: 0;
  font-family: 'Space Mono', monospace;
}

img{
  max-width: 100%;
}

header{
  margin: 1rem 0.5rem;
}

.header__heading{
  font-family: 'Inconsolata', monospace;

}

section{
  margin: 0 .5rem;
  display: flex;

  flex-direction: column;
}

.image{
  padding: 1rem;
}

.content__heading{
  font-size: 3rem;
  font-weight: 700;
  line-height: 71.09px;
  color: rgba(51, 51, 51, 1);
}

.content__para{
  padding: 1rem 0;
  font-size: 1.1rem;
  color: #4F4F4F;
}

.btn{
  font-size: .9rem;
  margin: 1rem 0;
  padding: 1rem;
  background-color: rgba(51, 51, 51, 1);
  color: #fff;
  border-radius: none;
}

.btn:hover{
  background-color: #4F4F4F;
}

@media (min-width:800px){
  header{
    margin-top: 3rem;
    margin-left: 5%;
  }

  section{
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  section>*{
    width: 100%;
  }
  .content__para{
    width: 70%;
  }
}

@media (min-width:1200px) {
  header{
    margin-left: calc(5% + 3rem);
    font-size: 1.5rem;
    line-height: 25px;
  }

  .image{
    padding: 3rem;
  }

  .content__heading{
    font-size: 4rem;
  }

  .content__para{
    padding: 2rem 0;
    width: 70%;
    font-size: 1.5rem;
    line-height: 36px;
  }

}
